*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.productList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.productItem{
  width: 250px;
  height: 100px;
}
.productItem img{
  width: 50%;
}